.card {
    width: 540px;
}

.card__title {
    margin: 0 0 32px;
}

.card__list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__list-item {
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card__list-divider {
    border-bottom: 1px dashed #838383;
    flex-grow: 1;
}