.menu {
    background-image: url(../images/background_menu.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
}


.menu__title{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #000000;
    max-width: 780px;
    text-align: center;
    align-items: center;
}


.menu__subtitle{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 780px;
    text-align: center;
}

.menu__cards {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}